button {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  position: relative;
  background: transparent;
  color: dodgerblue;
  /* text-transform: uppercase; */
  border: 3px solid dodgerblue;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
 
}

button:hover {
  color: white;
}
span {
  transition: all 0.7s;
  z-index: -1;
}

button .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: dodgerblue;
}

button:hover .first {
  top: 0;
  right: 0;
}
button .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: dodgerblue;
}

button:hover .second {
  top: 0;
  left: 50%;
}

button .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: dodgerblue;
}

button:hover .third {
  top: 0;
  left: 25%;
}

button .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: dodgerblue;
}

button:hover .fourth {
  top: 0;
  left: 0;
}

.single {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.listing {
  padding: 10px;
  transition: 0.25s;
  border-radius: 15px;
}
.listing:hover {
  -webkit-box-shadow: -1px -1px 30px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px -1px 30px -6px rgba(0, 0, 0, 0.75);
  box-shadow: -1px -1px 30px -6px rgba(0, 0, 0, 0.75);
}
